<div class="col-md-6 services-bottom">
    <div class="col-md-6 agileits_w3layouts_about_counter_left">
        <div class="countericon">
            <i class="fa fa-truck" aria-hidden="true"></i>
        </div>
        <div class="counterinfo">
            <p class="counter">@ViewBag.v1</p>
            <h3>Müşteri Sayımız</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-6 agileits_w3layouts_about_counter_left">
        <div class="countericon">
            <i class="fa fa-fighter-jet" aria-hidden="true"></i>
        </div>
        <div class="counterinfo">
            <p class="counter">@ViewBag.v2</p>
            <h3>Sipariş Sayımız</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
    <div class="col-md-6 agileits_w3layouts_about_counter_left">
        <div class="countericon">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <div class="counterinfo">
            <p class="counter">@ViewBag.v3</p>
            <h3>Şehir Sayımız</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="col-md-6 agileits_w3layouts_about_counter_left">
        <div class="countericon">
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="counterinfo">
            <p class="counter">@ViewBag.v4</p>
            <h3>Mutlu Müşteriler</h3>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>
